slider-playlist-card {
  height: 320px;
  overflow: hidden;
  width: 100%;
  display: block;
  //background-color: blanchedalmond;
  padding-bottom: 20px;
  padding-left: 5px;

  > div {
    .slider-wrapper {
      .slider-item {
        display: table-cell;
        padding-right: 27px;

        &.focus, &:hover {
          .item-container {
            background-color: white;
            border-radius: 5px;

            .text-container {
              .top-info {
                color: #22282A;
              }
              .video-count {
                background-color: #BCBCBC;
              }
            }

            .image-area {
              .main-image {
                border-color: white;
              }
            }
          }
        }

        .item-container {
          width: 294px;
          height: 320px;
          position: relative;
          text-align: center;
          background-color: rgba(34, 40, 42, 0.71);

          .image-area {
            padding-top: 30px;
            height: 150px;
            position: relative;
            img {
              position: absolute;
            }
            .small-image {
              width: 138px;
              height: 75px;
              margin-top: 13px;

              &.left {
                left: 18px;
              }

              &.right {
                right: 18px;
              }
            }
            .main-image {
              width: 184px;
              height: 103px;
              left: 50%;
              transform: translateX(-50%);
              z-index: 2;
              border-left: 4px solid #1A2024;
              border-right: 4px solid rgba(26, 32, 36, 0.91);

            }
          }

          .text-container {
            width: 100%;
            max-width: 100%;

            .top-info {
              color: #CCCCCC;
              font-size: 22px;
              font-weight: 400;
            }

            .video-count {
              color: #AAAAAA;
              background-color: rgba(188, 188, 188, 0.1);
              display: inline-block;
              padding: 4px 8px;
              font-size: 14px;
              margin-top: 8px;
            }

            .channel-name {
              color: #28A5D2;
              font-size: 16px;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
