videopage-netd {
  > div {

    &.video-page {
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;

      .top-block {
        height: 128px;
        width: 100%;
        padding-top: 48px;
        padding-left: 62px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0.73+0,0+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.73) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.73) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.73) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

        .player-info {
          image-rounded {
            float: left;
          }

          .description {
            padding-top: 7px;
            padding-left: 10px;
            display: inline-block;
            .title {
              font-size: 23px;

              .date {
                font-size: 15px;
                position: relative;
                padding-left: 10px;
                top: -3px;
              }
            }

            .channel {
              margin-top: 5px;
              font-size: 16px;
              background-color: rgba(255, 255, 255, 0.2);
              padding: 5px;
              display: inline-block;
            }
          }
        }
      }

      .bottom-block {
        height: 241px;
        width: 100%;
        background-color: lightcoral;
        position: absolute;
        bottom: 0;

        .progress-bar {
          width: 100%;
          padding: 10px 60px;
          .current {
            width: 5%;
            text-align: left;
            font-size: 16px;
          }
          .progress {
            width: 90%;

            .background {
              height: 4px;
              background-color: #95989A;
              display: block;
            }

            .overlay {
              height: 4px;
              background-color: red;
              display: block;
              position: relative;
              top: -4px;
              max-width: 100%;
            }
          }
          .total {
            width: 5%;
            text-align: right;
            font-size: 16px;
          }
        }
      }
    }
  }
}
