slider-video-card {
  overflow: hidden;
  width: 100%;
  display: block;
  //background-color: blanchedalmond;
  padding-bottom: 30px;
  padding-left: 5px;

  > div {
    .section-info {
      position: relative;
      width: 938px;
      margin-bottom: 10px;

      .title {
        font-size: 20px;
        color: white;
        display: inline-block;
      }

      .pagination {
        float: right;
        right: 50px;
        color: #AAAAAA;
        border: 1px solid #AAAAAA;
        border-radius: 1px;
        padding: 2px 4px;
        font-size: 14px;
      }
    }

    .slider-wrapper {
      -webkit-transition:all 0.5s ease-in-out;
      -moz-transition:all 0.5s ease-in-out;
      -o-transition:all 0.5s ease-in-out;
      transition:all 0.5s ease-in-out;
      .slider-item {
        display: table-cell;
        padding-right: 27px;



        &.focus, &:hover {
          padding-right: 24px;
          .item-container {
            border: 4px solid white;
            border-radius: 3px;
            background-color: white;
            .text-container {
              .top-block {
                .title {
                  color: #22282A;
                }
              }
              .bottom-block {
                .time-field {
                  color: #AAAAAA;
                }

                .category-field {
                  color: #5D5D5D;
                }
              }
            }

          }
        }

        .item-container {
          width: 294px;
          max-width: 294px;
          height: 320px;
          position: relative;
          text-align: left;
          background-color: rgba(34, 40, 42, 0.71);

          .image-area {
            position: relative;
            height: 167px;
            img {
              width: 294px;
              height: 167px;
            }

            .duration-info {
              position: absolute;
              right: 8px;
              bottom: 8px;
              color: white;
            }

            .overlay {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.71+100 */
              background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.71) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.71) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#b5000000', GradientType=0); /* IE6-9 */
            }
          }

          .text-container {
            margin-top: 16px;
            width: 100%;
            max-width: 100%;

            .top-block {
              padding: 0 20px;
              line-height: 1.1;
              .title {
                color: #CCCCCC;
                font-size: 20px;
                font-weight: 200;
                max-height: 63px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: normal;
                width: 254px;
                max-width: 254px;
              }

              .channel-name {
                color: #28A5D2;
                font-size: 16px;
                margin-top: 8px;
              }
            }

            .bottom-block {
              width: 100%;
              max-width: 100%;
              position: absolute;
              bottom: 24px;

              .time-field {
                float: left;
                color: #5D5D5D;
                font-size: 14px;
                left: 20px;
                position: relative;
              }

              .category-field {
                float: right;
                color: #AAAAAA;
                font-size: 14px;
                right: 20px;
                position: relative;
              }
            }

          }
        }
      }
    }
  }
}
